select {
    border-width: 1.5px;
    -moz-appearance: none;
    width: 100%;
    text-overflow: "";
    color: rgb(76,175,80);
    border-color: rgb(76,175,80);
    padding: 5px;
    box-shadow: inset 0 0 5px rgba(76,175,80, 0.5);
    border-radius: 10px 0;
}